QMainWindow::separator {
	background-color: lightgray;
	border: 1px dashed black;
    width: 4px;
	border-radius: 3px;
}

QMainWindow::separator:horizontal {
	image: url(:res/poignee.svg);
}

QMainWindow::separator:hover {
	background: red;
}

QDockWidget::title {
  	text-align: center;
  	padding-left: 5px;
}

QToolButton:checked {
	color: blue;
	font-weight: bold;
}

